<div class="container" ref="container" data-api-url="/companies">
  <nav>
    <%= link_to 'Show Employees', explore_employees_path %>
  </nav>
  <h1>Companies</h1>
  <p class="desc">List companies. Page: {{pageNum}}</p>

  <p>
      <button @click="prevPage" class="addItemButton" v-if="pageNum > 1">Previous Page</button>
      <button @click="nextPage"  class="addItemButton" v-if="!noResults">Next Page</button>
  </p>

  <form @submit="searchEmployee">
        <input v-model="term" class="addItemInput" type="search" placeholder="e.g. Siemens"/>
        <button type="submit" class="addItemButton">Search</button>
  </form>

  <ul v-for="item in results" class="list">
    <li>
      <div>{{item.name}}</div>
    </li>
  </ul>

  <div v-if="noResults" class="section">
    Sorry, no results found.
  </div>

  <div v-if="searching" class="section">
    <i>Searching...</i>
  </div>
</div>
