<div class="container" ref="container" data-api-url="/employees">
  <nav>
    <%= link_to 'Show Companies', explore_companies_path %>
  </nav>
  <h1>Employees</h1>
  <p class="desc">List employees. Page: {{pageNum}}</p>

  <p>
      <button @click="prevPage" class="addItemButton" v-if="pageNum > 1">Previous Page</button>
      <button @click="nextPage"  class="addItemButton" v-if="!noResults">Next Page</button>
  </p>

  <form @submit="searchEmployee">
        <input v-model="term" class="addItemInput" type="search" placeholder="e.g. John"/>
        <button type="submit" class="addItemButton">Search</button>
  </form>

  <ul v-for="item in results" class="list">
    <li>
      <div class="person">{{item.first_name | capitalize }} {{item.last_name | capitalize}}</div>
      <div class="company">{{item.company.name}}</div>
    </li>
  </ul>

  <div v-if="noResults" class="section">
    Sorry, no results found.
  </div>

  <div v-if="searching" class="section">
    <i>Searching...</i>
  </div>
</div>
