<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width">

		<style>
			[v-cloak] {display: none}
		</style>

    <link rel="stylesheet" href="/style.css">
	</head>
	<body>
			<div id="app" v-cloak>
        <%= yield %>
			</div>

		<script src="https://unpkg.com/vue"></script>
		<script src="/app.js"></script>

	</body>
</html>
